.main-about{
  background-color: var(--section-bg-color);

  &__container{
    display: flex;
    flex-direction: column;
    gap: 60px;
  }

  &__img {
    width: rem(596px);
    height: auto;
  }

  &__wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 60px;
    align-items: center;
  }

  .wrapper-reverse{
    flex-wrap: wrap-reverse;
  }

  &__text-block{
    max-width: 500px;
  }

  &__title{
    margin-bottom: 18px;
  }

  &__list{
    display: flex;
    padding-left: 8px;
    margin-bottom: 18px;
    flex-direction: column;
    gap: 10px;
  }

  &__item{
    position: relative;
    &::before {
      content: "-";
      position: absolute;
      left: -8px;
    }
  }

  &__button{
    --button-heigth: 56px;
    --button-padding: 0 50px;
    font-weight: 700;
  }
}
