@use 'sass:map';

:root {
  --blue: #1064E5;
  --dark-blue: #061224;
  --light-blue: #DEEEFC;
  --light-green: #D8F1F0;
  --black: #000000;

  // текст
  --primary-color: var(--blue);
  --btn-color: var(--dark-blue);
  --base-font-family: 'IBM Plex Sans';
  --titles-font-family: 'IBM Plex Serif';
  --text-color: var(--dark-blue);
  --base-font-weight: 400;

  // container
  --card-bg-color: var(--light-blue);
  --section-bg-color: var(--light-green);
  --section-padding-y: 40px;
  --container-padding-x: 15px;

  // svg
  --fillColor: currentColor;
  --strokeColor: initial;

  --form-color: var(--dark-blue);
}

$colors: (
  black: #000000
);

@function color($variant: black) {
  @return map.get($colors, $variant);
}

// media
$mediaWidthLaptop: 1340px;
$mediaWidthTablet: 767px;
$mediaWidthMobile: 320px;
