.footer {
  --fillColor: initial;
  --strokeColor: currentColor;
  --text-color: #ffffff;
  background-color: var(--btn-color);
  padding-bottom: 64px;
  padding-top: 64px;
  color: var(--text-color);

  &__wrapper{
    --base-font-weight: 500;
    position: relative;
    font-size: 14px;
    display: flex;
    margin-bottom: 30px;
    @media#{media('<',m)} {
      padding-right: 60px;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 40px;
    }
  }

  &__contacts-block{
    display: flex;
    gap: 5vw;
    margin-left: auto;
    @media#{media('<',m)} {
      flex-direction: column;
      margin-left: 0;
    }
  }

  &__logo{
    margin-right: 10vw;
    @media#{media('<',m)} {
      margin-right: 0;
    }
  }

  &__nav{
    min-width: 85px;
    max-width: 300px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(85px, 1fr));
    column-gap: 4vw;
    row-gap: 30px;
    margin-right: 5vw;
    @media#{media('<',m)} {
      gap: 30px;
    }

    .footer-nav {
      &__item{
        display: flex;
        flex-direction: column;
        gap: 20px;
        @media#{media('<',m)} {
          display: flex;
          flex-direction: column;
          gap: 30px;
        }
      }
    }
  }

  &__networks {
    display: flex;
    flex-direction: column;
    gap: 6px;
    @media#{media('<',m)} {
      gap: 30px;
    }
  }

  &__contacts{
    --base-font-weight: 400;
    width: rem(170px);
    display: flex;
    flex-direction: column;
    gap: 12px;
    opacity: 80%;
  }

  .copyright-block{
    --base-font-weight: 400;
    font-size: 12px;
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    opacity: 40%;
    .copyright{
      margin-right: 150px;
      @media#{media('<',m)} {
        margin-right: 0;
      }
    }
  }

  &__arrow-up{
    position: absolute;
    top: 0;
    right: 0;
    width: 10em;
    max-width: 52px;
    min-width: 30px;
    @media#{media('<',xs)} {
      top: -1rem;
    }
  }
}
