.hero-blog{
  &__title{
    margin-bottom: 20px;
    width: 300px;
  }

  &__time{
    margin-bottom: 12px;
  }

  &__wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    justify-content: space-between;
    justify-items: end;
    align-items: center;
    gap: 60px;
    @media#{media('<',d)} {
      justify-items: start;
    }
    @media#{media('<',m)} {
      grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    }
  }

  &__text-block{
    max-width: 455px;
    @media#{media('<',d)} {
      max-width: 100%;
    }
  }

  &__text{
    margin-bottom: 30px;
  }
}
