.hero-blog{
  &__title{
    margin-bottom: 20px;
  }

  &__time{
    margin-bottom: 12px;
  }

  &__wrapper{
    // display: grid;
    // grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    // justify-items: end;
    align-items: center;
    gap: 43px;
    @media#{media('<',d)} {
      // justify-items: start;
    }
    @media#{media('<',m)} {
      // grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    }
  }

  &__img{
    width: rem(731px);
  }

  &__text-block{
    width: rem(458px);
  }

  &__text{
    margin-bottom: 30px;
  }
}
